    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Goldman:wght@400;700&family=Hachi+Maru+Pop&family=Hina+Mincho&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Kiwi+Maru&family=M+PLUS+1p&family=Michroma&family=Mochiy+Pop+P+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+NZ+Guides&family=Slackside+One&family=Tsukimi+Rounded&family=Yuji+Mai&family=Yuji+Syuku&family=Zen+Antique&display=swap');
   
   
   table, th, td 
    {
        border: 2px solid;
    }

    th
    {
        background-color: aquamarine;
    }

    td
    {
        background-color: white;
    }

    body
    {
        background-color: bisque;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    div
    {
        width: auto;
        margin: auto;
    }

    .wrapper
    {
        margin: 0 auto;
        width: 1000px;
        border-radius: 24px 16px 24px 16px;
        border: 2px solid black;
        background-color: white;
    }

    .form
     {
        width: 500px;
        margin: auto;
        flex-direction: column;
        gap: 4px;
        margin-bottom: 14px;
     }

    input, select, textarea
     {
        width: 100%;
        box-sizing: border-box;
        background-color: grey;
     }

    #myheader
     {
        background-color: rgb(193, 2, 193);
        color: black;
        padding: 10px;
        text-align: center;
        font-family: "Playfair Display", serif;
        font-size: 20px;
        border-radius: 24px 16px 24px 16px;
     }

    #myheader2
     {
        background-color: rgb(235, 185, 235);
        color: black;
        padding: 10px;
        text-align: center;
        font-family: "Playfair Display", serif;
        font-size: 20px;
        border-radius: 24px 16px 24px 16px
     }
